<div class="item group/item flex flex-col items-center gap-[10px] cursor-pointer transition-all duration-300">
    <div class="image-wrapper w-full h-[210px] rounded-[20px] overflow-hidden relative border-[3px] border-solid border-transparent group-[&.selected]/item:border-primary group-[&.selected]/item:duration-500">
        <img src="https://placehold.co/234x210/000000/FFF.jpg" alt="Offer" width="500" height="300" class="w-full h-full object-cover">
        <span class="overlay block absolute z-2 inset-0 w-full h-full bg-primary/60 opacity-0 transition-all duration-300 group-[&.selected]/item:opacity-100 group-[&.selected]/item:duration-500"></span>
    </div>
    <p class="text-[16px] leading-[1.2] text-dark tracking-tight transition-all duration-300 group-[&.selected]/item:text-primary group-[&.selected]/item:duration-500">{{title}}</p>
</div>
