{{#> layout }}

    {{> partials/header }}
    <img src="https://placehold.co/1920x600/000000/FFF.jpg" alt="Banner Image" class="w-full h-auto mt-[-90px]" width="1920" height="600">
    <div class="content-container max-w-[1320px] mx-auto px-5 mt-[120px]">

        <div class="components mb-[50px]">
            {{> components/button
                url = "offer-v1.html"
                class = "primary-btn mb-[50px]"
                title = "Offer Modal Birinci Versiyon"
            }}

            {{> components/button
                url = "offer-v2.html"
                class = "primary-btn mb-[50px]"
                title = "Offer Modal İkinci Versiyon"
            }}
        </div>
    </div>

    {{> partials/footer }}

{{/layout}}
